/* .button1 {
   background: #22222288;
   border: none;
   border-radius: 100px;
   color: rgb(255, 255, 255);
   padding: 10px 14px 10px 14px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   transition-duration: 0.4s;
   cursor: pointer;
   text-transform: uppercase;
} */
.button {
   background: #22222288;
   border: none;
   border-radius: 100px;
   color: rgb(255, 255, 255);
   padding: 10px 14px 10px 14px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   transition-duration: 0.4s;
   cursor: pointer;
   text-transform: uppercase;
}
.button:hover {
   color: rgb(255, 255, 255);
   background: #7b54a0d3;
}
.button:active {
   color: rgb(255, 251, 0);
}
.button:focus {
   background: #7b54a0;
}
