.header {
   /* width: 100%; */
   padding: 20px 200px 20px 670px;
   height: 6rem;
   display: flex;
   /* justify-content: center; */
   background-color: rgba(0, 0, 10, 0.596);
}
.headerCentred {
   display: flex;
   /* justify-content: center; */
   align-items: center;
   /* width: 80%; */
   /* padding: 20px 200px 20px 400px; */
}
.img {
   position: relative;
   width: 7em;
   left: 1%;
}
.logo {
   padding: 5px 20px 0 0;
   /* position: fixed; */
   /* left: 30%; */
}
.text {
   /* position: fixed; */
   /* right: 42%; */
   /* color: white; */
}

.main_place {
   display: flex;
   justify-content: center;
   /* border: 3px solid red; */
}
/* justify-content: center; */
.main_section {
   display: flex;
   width: 60%;
   justify-content: center;
   border: 3px solid red;
   /* margin: 100px 100px; */
}
.main_body {
   display: flex;
   /* flex-grow: 1; */
   height: 100px;
   width: 600px;
   justify-content: center;
   border: 3px solid red;
}
.main_body_name {
   /* display: flex; */
   /* justify-content: center; */
   width: 200px;
   border: 3px solid red;
}
.main_body_button {
   display: flex;
   width: 200px;
   /* border: 3px solid red; */
   justify-content: flex-end;
}
.leaveModel {
   background: #dfdfdf88;
   border: none;
   border-radius: 100px;
   color: rgb(22, 22, 22);
   padding: 10px 14px 10px 14px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   justify-content: flex-end;
   margin: 30px 2px 0 2px;
   transition-duration: 0.4s;
   cursor: pointer;
   text-transform: uppercase;
}
.leaveModel:hover {
   color: rgb(255, 255, 255);
   background: #24242473;
}
.main_nav_content {
   display: flex;
   justify-content: center;
   /* flex-direction: column; */
   /* justify-content: flex-start; */
}
.main_nav {
   flex-grow: 1;
   border: 3px solid red;
}
.navigation {
}
/* .main_nav {
   border-top-width: 1px;
   border-top-color: #e4e7eb;
   border-top-style: solid;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   padding: 0.75rem 0.5rem 0.25rem 0.5rem;
} */
